body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Georgia, serif;
  background-position: center;
  background-size: cover;
  animation: changeBackground 8s infinite;
}

@keyframes changeBackground {
  0%, 25% { background-image: url('images/Spiderman4.jpg'); }
  25%, 50% { background-image: url('images/Spiderman5.jpg'); }
  50%, 75% { background-image: url('images/Spiderman6.jpg'); }
  75%, 100% { background-image: url('images/Spiderman7.jpg'); }
}

h1 {
  text-align: center;
  font-weight: bolder;
  margin: 20px 0;
  animation: colorChange 4s linear infinite;
}

@keyframes colorChange {
  0% { color: purple; }
  25% { color: red; }
  50% { color: green; }
  75% { color: orange; }
  100% { color: blue; }
}

.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 10px;
  background-color: gold;
  border-radius: 10px;
}

.btn {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: whitesmoke;
  background-color: green;
  font-style: oblique;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.season-card {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.star, .like-button {
  font-size: 15px;
  cursor: pointer;
}

.star.selected, .like-button.clicked, .star.clicked {
  color: red;
  background-color: aquamarine;
}

.season-icon, .season-1-icon, .season-2-icon, .season-3-icon {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.season-1-icon, .season-2-icon, .season-3-icon {
  width: 300px;
  height: 250px;
}

.comment-form textarea {
  display: inline-block;
  vertical-align: top;
  font-family: Georgia;
}

.comment-form button[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.comment-form button[type="submit"]:hover {
  background-color: darkblue;
}

.submit-star-rating {
  background-color: purple;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-item {
  font-style: italic;
  color: #ff5733;
}

.season-element h3 {
  color: cadetblue;
}

.season-element p:nth-child(2) {
  color: green;
}

.season-element p:nth-child(3),
.season-element p:nth-child(4),
.season-element p:nth-child(5) {
  color: darkorchid;
}

.season-element p.comments-heading,
.season-element p.likes,
.season-element p.rating {
  color: red;
}

.season-element .comment-form textarea::placeholder {
  color: blue;
  font-size: 1em;
}
